/* Generic styles */

body {
    font-family: Helvetica, Arial;
    color: black;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 11in;
    height: 8.5in;
}

/* div table structure */

.act_as_table {
    display: table;
}
.act_as_row  {
    display: table-row;
}
.act_as_cell {
    display: table-cell;
}
.act_as_thead {
    display: table-header-group;
}
.act_as_tbody {
    display: table-row-group;
}
.act_as_tfoot {
    display: table-footer-group;
}
.act_as_caption {
    display: table-caption;
}
.act_as_colgroup {
    display: table-column-group;
}

/* list_table styles */

.list_table, .data_table {
    width: 100%;
    table-layout: auto
}

.list_table, .data_table, .list_table .act_as_row {
    border-left:0px;
    border-right:0px;
    text-align:left;
    font-size:9px;
    padding-right:3px;
    padding-left:3px;
    padding-top:4px;
    padding-bottom:4px;
    border-collapse:collapse;
}

.list_table .act_as_row.labels, .list_table .act_as_row.initial_balance, .list_table .act_as_row.lines {
    border-color:gray;
    border-bottom:1px solid lightGrey;
}

.data_table .act_as_cell, .list_table .act_as_cell {
    word-wrap: break-word;
}

.data_table .act_as_cell {
    border: 1px solid lightGrey;
    text-align: center;
}

.data_table .act_as_row.labels {
    font-weight: bold;
}

.initial_balance .act_as_cell {
    font-style:italic;
}

.account_title {
    font-size:10px;
    font-weight:bold;
    page-break-after: avoid;
}

.list_table .act_as_cell{
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid lightGrey;
    border-right: 1px solid lightGrey;
}
.list_table .act_as_cell.first_column {
    padding-left: 0px;
    border-left:0px solid lightGrey;
}
.list_table .act_as_cell.last_column {
    padding-right: 0px;
    border-right:0px solid lightGrey;
}

.bg, .act_as_row.labels {
    background-color:#F0F0F0;
}

.data_table.results {
    font-size: 14px;
}

.data_table.results .act_as_cell {
    padding: 5px 5px 5px 5px;
}

.data_table.results .act_as_cell.label {
    background-color:#F0F0F0;
    font-weight: bold;
}

.sep_left {
    border-left: 1px solid lightGrey;
}

.overflow_ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.open_invoice_previous_line {
    font-style: italic;
}

.clearance_line {
    font-style: italic;
}


/* Text styles */

.left, .left .act_as_cell, .act_as_cell.left {
    text-align: left;
}

.amount, .act_as_cell.amount {
    text-align: right;
    white-space: nowrap;
}

.no_wrap {
    white-space: nowrap;
}

.act_as_cell.main_result {
    border-top: 1px ridge black;
    border-bottom: 3px double black;
    font-weight: bold;
}
