body {

}

/*HEADER*/
.header {
	padding : 200px 10px 5px 10px;
	border:0; margin: 0;
}
.header-table {
	width: 100%;
	padding-top: 8%;
}
.partner-table {
	width: 100%;
	font-family: Arial,Verdana, Sans, Serif;
	font-size: 12;
}

.title {
	font-size:16;
	font-weight: bold;
}

.company_address{
	width : 100%;
	text-align: right;
	font-family: Arial,Verdana, Sans, Serif;
	font-size: 13;
}

.company_data {
	width : 100%;
	text-align: center;
	font-family: Arial,Verdana, Sans, Serif;
	font-size: 13;
}
/*BODY*/

#wrapper{

}

#document_data{
	margin : 10px;
	width : 100%;
}

#number{
	text-align : center;
	color : red;
	font-size : 0.9em;
}

#date {
	margin : 20px 0px 5px 600px;
}

.detail {
	margin-top : 20px;
	width : 100%;
}

.amount_detail {
	margin : 0px 0px 0px 10px;
}

#document_desc {
	height : 110px;
	margin-bottom : 7px;
	width : 100%;
}

.detail_desc{
	font-family : courier, arial, sans, serif;
	font-size : 10px;
	font-style : italic;
}

.text_font{
	font-family : courier, arial, sans, serif;
	font-size : 14px;
	font-style : bold;
	font-style : bold;
}

.detail_line{
	width : 100%;
	float : left;
}
.amount_text{
	font-family : courier, arial, sans, serif;
	font-size : 16px;
	font-style : italic;
	margin : 5px;
	width : 100%;
	font-style : bold;
}

#validation {
	padding : 5px;
	width : 100%;
}

#info{
	width : 50%;
	float : left;
}

.info_detail{
	font-family : courier, arial, sans, serif;
	font-size : 12px;
	font-style : italic;
}

#signature {
	height : 50px;
	background-color : dark-grey;
	border: 1px solid black;
	margin-left : 10px;
	float : left;
}
.sign_detail {
	margin-bottom : 20px;
}

.payment_method{
	width : 40%;
	float :left;
	margin-left : 10px;
}

#val_first{
	width : 100%;
	margin-top : 20px;
	margin-bottom : 20px;
}

#val_second{
	width : 100%;
	margin-bottom : 20px;
}

.line{
	width : 40%;
	float :left;
	margin-left : 10px;
}

