<?xml version="1.0" encoding="UTF-8"?>

<openerp>
	<data>
		<menuitem id="menu_tools" parent="project_scrum_method.menu_scrum"
			name="Tools" sequence="50" />

		<menuitem id="menu_feature_import_wizard" parent="menu_tools"
			name="Import Features" action="action_feature_import_wizard"
			sequence="10" />

		<menuitem id="menu_sprint_close_wizard" parent="menu_tools"
			name="Close Sprint" action="action_sprint_close_wizard" sequence="40" />
            
        <menuitem name="Task Types" id="task_work_type" sequence="50"
            parent="base.menu_definitions" action="action_work_type" />
            
        
	</data>
</openerp>